<footer
  class="w-full flex flex-col gap-y-5 md:flex-row justify-center md:justify-between items-center border-primary border-t-2 pt-3 pb-6 mt-10"
>
  <span class="flex flex-col items-center gap-x-1 md:flex-row text-primary">
    <span>© 2024 La Velada del Año</span>
    <span aria-hidden class="hidden md:inline"> | </span>
    <span>Todos los derechos reservados.</span>
  </span>

  <ul class="flex flex-row items-center gap-x-6">
    <li>
      <a
        target="_blank"
        rel="noopener"
        href="https://www.instagram.com/"
        class="hover:scale-125 hover:opacity-70 transition inline-block"
      >
        <img src="./img/icons/instagram.svg" alt="Logo de instagram" />
      </a>
    </li>
    <li>
      <a
        target="_blank"
        rel="noopener"
        href="https://twitter.com/"
        class="hover:scale-125 hover:opacity-70 transition inline-block"
      >
        <img src="./img/icons/x.svg" alt="Logo de X" />
      </a>
    </li>
  </ul>
</footer>
