---
import HeroLogo from "@/components/HeroLogo.astro";
---

<section class="flex flex-col justify-center items-center my-24">
  <span
    class="uppercase text-xl text-secondary bg-primary px-4 py-2 mb-12 font-medium animate-fade-in animate-delay-300">
    Presentacion de
  </span>
  <HeroLogo class="text-primary w-[320px] h-auto md:w-[600px] md:h-[420px] animate-fade-in-up" />
</section>
