<section class="flex flex-col gap-y-16 font-medium text-primary mb-24">
  <!-- Twitch logo -->
  <div class="flex items-center justify-center">
    <a
      href="https://www.twitch.tv/"
      target="_blank"
      rel="nofollow noopener"
      class="hover:scale-110 transition inline-block">
      <img width="80" src="./img/icons/twitch.svg" alt="Twitch logo" />
    </a>
  </div>

  <div class="flex flex-col md:flex-row gap-x-6 text-center uppercase mx-auto">
    <article
      class="flex md:flex-1 items-center justify-center order-2 md:order-1 text-xl py-12 md:py-20 px-8 md:border-y-2 border-primary">
      <h5 class="w-56">Presentacion, pesaje, entrevista y cara a cara</h5>
    </article>

    <article
      class="md:w-[450px] flex items-center justify-center order-1 md:order-2 text-3xl py-12 md:py-20 px-8 border-y-2 border-primary">
      <a
        href="https://www.twitch.tv/"
        target="_blank"
        rel="nofollow noopener"
        class="hover:scale-105 hover:text-purple-800 transition inline-block">
        <h4>Siguelo en directo twitch.tv/ibai</h4>
      </a>
    </article>

    <article
      class="flex md:flex-1 items-center justify-center order-3 text-xl py-12 md:py-20 px-8 border-y-2 border-primary">
      <h5 class="w-56">Con la presencia de los boxeadores y boxeadoras</h5>
    </article>
  </div>
</section>
